<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- подключние favicon -->
    <meta name="description" content="Курсовой проект, Федоров М. А. "> 
    <meta name="keywords" content="гитара, акустическая гитара, электрогитара, басгитара">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"> 

    <title>PRACTICE 4</title> <!-- Название проекта-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Websockets Chat App</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>

  <body id="0"> <!-- ИД - свой для каждой страницы!!! -->

        <header class = "header-band"> <!-- Заголовок сайта --> 

          <div class = "wrapper header-container">


            <div class = "logo"> 
               <a href = "indexxx.html" class="logo">
               <span>ГЛАВНАЯ</span></a>
            </div>
            


            <div class="menu-btn">

              <div class="menu-btn-burger"></div>

            </div>
            
          </div> 
      
        </header> 
        
        <div class = "title-band"> <!-- Заголовок сайта --> 

          <div class = "wrapper">
            <span>ПРАКТИЧЕСКАЯ РАБОТА №4</span>
          </div>
        </div>

        <main class = "main-band" >

            <div class="wrapper">

                <div id="status" class="">

                </div>
                <div id="chat-page" class="main">
                    <div class="row justify-content-center h-100">

                        <div class="col-md-8 col-xl-6">

                            <input height="30px" id="message" class="form-control all-input" placeholder="Ваше сообщение"></input>

                            <div class="card">

                                <div class="card-body">

                                    <div id="chat">

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
            <script src="/js/script.js"></script>

        </main>

        
        <!-- Подвал-->

        <footer class = "footer-band"> 
          
          <div class = "footer-background">          
            <div class = "wrapper">
                <p class="pc"><b>Практическая работа</b></p>
                <p class="pc"><b>Тема:</b> «Разработка клиент-серверного приложения с использованием технологии Websocket и Spring Framework »</p>
                <br>
                <p><u>Дисциплина</u>: Архитектура клиент-серверных приложений </p>
                <br>
                <p>Студент: <b>Федоров Максим Александрович</b></p>
                <p>Группа: <b>ИКБО-16-20</b></p>
                <p>Преподаватель: <b>Мельников Денис Александрович</b></p>

                
            </div>
          </div>

        </footer>
      
        <!-- Конец-->

   
    <!-- подключение карусели и меню -->

    
 
  </body>

</html>

